@model IEnumerable<LoansModel>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Recebedor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro</th>
            <th scope="col">Última Atualização</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var loan in Model)
            {
                <tr>
                    <th scope="row">@loan.Recipient</th>
                    <td>@loan.Provider</td>
                    <td>@loan.BorrowedBook</td>
                    <td>@loan.LastUpdatedDate</td>
                </tr>
            }
        }
    </tbody>
</table>